In [5]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('data.csv')

In [3]:
data

     time  price
0       0   7000
1       1   6910
2       2   6800
3       3   6910
4       4   6820
5       5   6880
6       6   6920
7       7   6870
8       8   6870
9       9   6770
10     10   6730
11     11   6680
12     12   6660
13     13   6670
14     14   6680
15     15   6620
16     16   6620
17     17   6750
18     18   6630
19     19   6740
20     20   6720
21     21   6690
22     22   6730
23     23   6620
24     24   6500
25     25   6540
26     26   6550
27     27   6640
28     28   6650
29     29   6600
..    ...    ...
71     71   6600
72     72   6720
73     73   6720
74     74   6640
75     75   6760
76     76   6710
77     77   6630
78     78   6730
79     79   6710
80     80   6610
81     81   6580
82     82   6560
83     83   6640
84     84   6640
85     85   6660
86     86   6700
87     87   6670
88     88   6740
89     89   6780
90     90   6750
91     91   6780
92     92   6900
93     93   6860
94     94   6960
95     95   6850
96     96   6860
97     97   6980
98     98   6960
99     99   6930
100   100   7000

[101 rows x 2 columns]

In [ ]:
plt